html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 10px;
}

header nav a {
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 10px 20px;
}

main {
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.store-item {
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.store-item img {
  grid-column: 1 / 4;
  width: 100%;
  height: 175px;
}

.store-item p {
  grid-column: 1 / 4;
  margin: 0;
}

.store-item p:nth-child(3) {
  margin-top: 10px;
}

.store-item span {
  margin-top: 10px;
}

.store-item span:nth-child(5) {
  text-align: center;
}

.store-item span:nth-child(6) {
  text-align: right;
}
